<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-bfm-expandable-inner-tables/cells-bfm-expandable-inner-tables.html">
<link rel="import" href="../cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="cells-bfm-multiple-expandable-tables-styles.html">
<dom-module id="cells-bfm-multiple-expandable-tables">
  <template>
    <style include="cells-bfm-multiple-expandable-tables-styles cells-grid-template-styles"></style>
    <div class="cgt">
      <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12 ">

        <div class="container">
      <template is="dom-repeat" items="[[items]]" as="expand">
        <cells-bfm-expandable-inner-tables on-click="_handleClick"
          class="expandable"
          title="[[expand.title]]"
          sub-title="[[expand.subTitle]]"
          message="[[expand.message]]"
          filter-configuration="[[expand.filterConfiguration]]"
          amount="[[expand.amount]]"
          contents="[[expand.contents]]"
          items="[[expand.items]]">
        </cells-bfm-expandable-inner-tables>
      </template>
      </div>
      </div>
    </div>
  </template>
  <script src="cells-bfm-multiple-expandable-tables.js"></script>
</dom-module>