<dom-module id="cells-bfm-multiple-expandable-tables-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-multiple-expandable-tables; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.expandable {
  border-bottom: 1px solid #BDBDBD; }

</style></template></dom-module>